<footer>
    <div id="footer" class="row">
        <div class="large-12 columns text-center">
            <hr class="footerHr">
            <h6>Choose a Book -&gt; <a class="noLineBreak" id="book1_footer" tabindex="0" role="button" aria-expanded="false" aria-controls="book1">Personal Work</a>, <a class="noLineBreak" id="book2_footer" tabindex="0" role="button" aria-expanded="false" aria-controls="book2">Goodies</a>, <a class="noLineBreak" id="book3_footer" tabindex="0" role="button" aria-expanded="false" aria-controls="book3">About Me</a></h5>
            <h5>Personal Portfolio - <a class="showContactForm noLineBreak" id="fromFormFooter" tabindex="0">Contact: Keith D Commiskey</a></h5>
        </div>
    </div>
</footer>
