<header>
    <div id="header" class="row">
        <div id="hdrLogo" class="small-12 medium-5 columns text-center">
            <h1><img src="assets/img/kdcinfo_logo_2015.png" alt="KDC-Info" title="KDC-Info" tabindex="0"></h1>
            <div>
                [&nbsp;<a class="b" id="book1_header">Portfolio</a>&nbsp;]&nbsp;
                [&nbsp;<a href="https://kdcinfo.com/resume">Resume</a>&nbsp;]&nbsp;
                [&nbsp;<a href="http://kdcbase.com">Showcase</a>&nbsp;]&nbsp;
                [&nbsp;<a href="https://kdcinfo.blogspot.com/">Blog</a>&nbsp;]
            </div>
        </div>
        <nav id="hdrNav" class="small-12 medium-7 columns">
            <div id="bookshelf_div" class="text-center">
                <div id="bookshelf_div_img">
                    <img id="bookshelf" src="assets/img/awesome-wall-shelves-XdEGd_75.png" alt="Choose a Book:">
                </div>
                <div id="bookshelf_div_spines">
                    <div id="book1_spine_top">
                        <div id="book1_spine_box" class="book1_spine_move_back">
                            <div id="book1_spine_front">
                                <img id="book1_spine" tabindex="0" role="button" aria-expanded="false" aria-controls="book1" src="assets/img/book_personal-work_spine.png" alt="Personal Work book spine">
                            </div>
                        </div>
                    </div>
                    <div id="book2_spine_top">
                        <div id="book2_spine_box" class="book2_spine_move_back">
                            <div id="book2_spine_front">
                                <img id="book2_spine" tabindex="0" role="button" aria-expanded="false" aria-controls="book2" src="assets/img/book_archives_spine.png" alt="Archives book spine">
                            </div>
                        </div>
                    </div>
                    <div id="book3_spine_top">
                        <div id="book3_spine_box" class="book3_spine_move_back">
                            <div id="book3_spine_front">
                                <img id="book3_spine" tabindex="0" role="button" aria-expanded="false" aria-controls="book3" src="assets/img/book_aboutMe_spine.png" alt="About Me book spine">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
